@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
}

main{
    width: 370px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 18px;
    border: 1px solid black;
    box-shadow: 8px 8px;
    margin-bottom: 15px;
}

figure{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}

figure img{
    width: 88%;
    border-radius: 10px;
}

section{
    margin-left: 21px;
}

.button{
    background-color: hsl(47, 88%, 63%);
    border: transparent;
    border-radius: 5px;
    width: 75px;
    height: 35px;
    cursor: pointer;
    font-weight: 800;
    color: hsl(0, 0%, 7%);
}

p{
    font-size: 16px;
    font-weight: 500;
}

.published, .title, .paragraph{
    margin: 15px 0px;
}

.title:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.paragraph{
    line-height: 1.4;
    color: hsl(0, 0%, 42%);
}

.person{
    display: flex;
    align-items: center;
    gap: 15px;
}

.person img{
    width: 40px;
    height: 40px;
}

.person p{
    font-weight: 800;
    color: hsl(0, 0%, 7%);
}